/* No margins. */
* {
    margin: 0;
    padding: 0;  
}

html {
    height: 100vh;
}

/* General typography */

h1, h2, h3, h4, h5, h6, p, a {
    color: black;
    text-decoration: none;
    font-family: Palatino, "Palatino Linotype";
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}
a {}


/* Menu. */

header {
    height: fit-content;
    background: white;
}

#header-container {
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    margin-left: 8%;
    margin-top: 0%;
    width: fit-content;
}
 
nav {
    margin-right: 8%;
    width: fit-content;
}
   

@media all and (max-width : 600px) {
    #header-container {
      flex-direction: column;
    }
   
    #header-logo {
        margin-left: 0%;
        margin-top: 2%;
    }

    nav {
        margin: 2% 0 2% 0;
    }
}


/* Menu links. */

header ul {
}

header ul li {
    display: inline;
    padding: .7em;
    font-size: medium;
}

header a {
    text-decoration: none;
    color:#d60404;
}

/* Main container. */

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 95vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax-group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax-group:nth-child(1) {
    z-index: 1;
    background: red;
}

.parallax-group:nth-child(2) {
    z-index: 2;
    background: pink;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer > img {
    position: absolute;
}

#main-container {
    overflow-y: auto;
    height: fit-content;
}

#intro {
    align-items: center;
    justify-content: space-evenly;  
    width: 84%;
    margin-left: 8%;
    height: 95vh;
}

#welcome {
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}

#contact {    
    align-items: center;
    justify-content: space-evenly;
}
   

.parallax-layer:nth-child(1) {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax-layer:nth-child(1) > img  {
    height: 8vh;
    left: 0%;
    top: 16%;
}

.parallax-layer:nth-child(2) {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax-layer:nth-child(2) > img  {
    height: 8vh;
    right: 0%;
    top: 16%;    
}

.parallax-layer:nth-child(3) {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax-layer:nth-child(3) > img  {
    height: 8vh;
    left: 0%;
    top: 32%;    
}

.parallax-layer:nth-child(4) {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);

}

.parallax-layer:nth-child(4) > img  {
    height: 8vh;
    right: 0%;
    top: 32%;    
}

.parallax-layer:nth-child(5) {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.parallax-layer:nth-child(5) > img  {
    height: 8vh;
    left: 0%;
    top: 50%;    
}

.parallax-layer:nth-child(6) {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);

}

.parallax-layer:nth-child(6) > img  {
    height: 8vh;
    right: 0%;
    top: 50%;    
}

@media all and (max-width : 600px) {
    #intro {
        height: 90vh;
    }    

    .parallax-layer > img {
        visibility: hidden;
    }
}

/* Body container. */

body {
    overflow-x: hidden;
    height: fit-content;
}

      

/* About Us. */

#about-us {
    width:100%;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;

}

#about-us div {
    margin: 0 8%;
}


/* Top items. */

#top-items {
    width: 100%;
}


/* Footer. */

footer {
}

/* Generics. */

.rows {
    display: flex;
    flex-direction: row;
}

.cols {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}