h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p { 

}

a {

}


#site-navigation
{
    display:table-cell;
    vertical-align:middle;
    padding:100px 0;
    text-align:center
}
    

            