h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p { 

}

a {

}


#site-navigation
{

    background-color: transparent;
    overflow: hidden; 
} 

#site-navigation {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

#site-navigation > ul > li
{
    display: inline;
    float: left;
} 

a:hover
{
    display: block;
    padding: 10%;
    background-color: red;
}